@font-face {
    font-family: 'Baskic8';
    src: local('Baskic8'), url('./Baskic8.woff2') format('woff2'),
         url('./Baskic8.woff') format('woff'),
         url('./Baskic8.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }